In [794]:
import pandas as pd

In [795]:
df = pd.read_csv("data/train.csv")

In [796]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [797]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [798]:
for col in df.columns:
    print(f"{col} - {df[df[col].isna()].shape}")

PassengerId - (0, 12)
Survived - (0, 12)
Pclass - (0, 12)
Name - (0, 12)
Sex - (0, 12)
Age - (177, 12)
SibSp - (0, 12)
Parch - (0, 12)
Ticket - (0, 12)
Fare - (0, 12)
Cabin - (687, 12)
Embarked - (2, 12)

In [799]:
c1 = df.drop(["Name", "Cabin", "Ticket"], axis=1)

In [800]:
c2 = c1.dropna()

In [801]:
for col in c2.columns:
    print(f"{col} - {c2[c2[col].isna()].shape}")

PassengerId - (0, 9)
Survived - (0, 9)
Pclass - (0, 9)
Sex - (0, 9)
Age - (0, 9)
SibSp - (0, 9)
Parch - (0, 9)
Fare - (0, 9)
Embarked - (0, 9)

In [802]:
c2

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [803]:
c3 = c2.drop("Survived", axis=1)
y = c2["Survived"].values

In [804]:
c3,y

(     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
 0              1       3    male  22.0      1      0   7.2500        S
 1              2       1  female  38.0      1      0  71.2833        C
 2              3       3  female  26.0      0      0   7.9250        S
 3              4       1  female  35.0      1      0  53.1000        S
 4              5       3    male  35.0      0      0   8.0500        S
 ..           ...     ...     ...   ...    ...    ...      ...      ...
 885          886       3  female  39.0      0      5  29.1250        Q
 886          887       2    male  27.0      0      0  13.0000        S
 887          888       1  female  19.0      0      0  30.0000        S
 889          890       1    male  26.0      0      0  30.0000        C
 890          891       3    male  32.0      0      0   7.7500        Q

 [712 rows x 8 columns],
 array([0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
        0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
        0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
        1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 1, 1, 0], dtype=int64))

In [805]:
c3v = c3.values
c3v

array([[1, 3, 'male', ..., 0, 7.25, 'S'],
       [2, 1, 'female', ..., 0, 71.2833, 'C'],
       [3, 3, 'female', ..., 0, 7.925, 'S'],
       ...,
       [888, 1, 'female', ..., 0, 30.0, 'S'],
       [890, 1, 'male', ..., 0, 30.0, 'C'],
       [891, 3, 'male', ..., 0, 7.75, 'Q']], dtype=object)

In [806]:
from sklearn.preprocessing import LabelEncoder

In [807]:
le_sex = LabelEncoder()
c3v[:,2] = le_sex.fit_transform(c3v[:,2])

le_emb = LabelEncoder()
c3v[:,7] = le_emb.fit_transform(c3v[:,7])

In [808]:
d = pd.DataFrame(c3v)
d[7].describe()

count     712
unique      3
top         2
freq      554
Name: 7, dtype: int64

In [809]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [810]:
ohe = OneHotEncoder(categorical_features=[2,7],
                   handle_unknown="ignore")

In [811]:
c4a = ohe.fit_transform(c3v).toarray()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [812]:
c4 = pd.DataFrame(c4a)

In [813]:
X = c4.values
X

array([[ 0.    ,  1.    ,  0.    , ...,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  0.    ,  1.    , ...,  1.    ,  0.    , 71.2833],
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 30.    ],
       [ 0.    ,  1.    ,  1.    , ...,  0.    ,  0.    , 30.    ],
       [ 0.    ,  1.    ,  0.    , ...,  0.    ,  0.    ,  7.75  ]])

In [814]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

MODEL_CODE = "GNB"
REPORT_NAME = "REP_" + MODEL_CODE

def create_model(code):
    if code == "DTC":
        return create_DTC()
    elif code == "GNB":
        return create_GNB()
    return None

###########################################

def create_DTC():
    return DecisionTreeClassifier()

def create_GNB():
    return GaussianNB()

In [815]:
from sklearn.model_selection import KFold         # 10-Fold Cross Validation
from sklearn.preprocessing import StandardScaler  # Standardizing input data
from sklearn.metrics import confusion_matrix      # calculating confusion matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score              # calculating f1 score
import time                                       # to measure elapsed time
import os                                         # to create a folder for reporting

N_SPLIT = 10 # k-Fold k value

In [817]:
if not os.path.exists('reports'):
    os.makedirs('reports')

file = open(f"reports/{REPORT_NAME}.txt", "w")

start = time.process_time()

# initializing variables for kFold run and F1_Score
current_fold = 0
total_f1s = 0

for train_index, test_index in KFold(N_SPLIT).split(X):
    current_fold += 1
    
    x_train, x_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
        
    model=create_model(MODEL_CODE)
    
    model.fit(x_train, y_train)
            
    y_pred = model.predict(x_test)
    y_pred = (y_pred > 0.5)
    
    cfm = confusion_matrix(y_test, y_pred)
    acc = accuracy_score(y_test, y_pred)
    prc = precision_score(y_test, y_pred)
    rec = recall_score(y_test, y_pred)
    
#     print(f"{str(current_fold).rjust(2)}-FOLD")
#     print(cfm)
#     print(cfm.ravel())
#     print(f"Accuracy: {acc}")
    
    f1_score(y_test, y_pred, average="macro")
    f1s = f1_score(y_test, y_pred, average="macro")
    # average='macro' : Calculate metrics for each label, and find their unweighted mean. 
    # This does not take label imbalance into account
    
    ITR_EVAL_STR  = f"{str(current_fold).rjust(2)}-FOLD\t| Precision\t= {prc}\n"
    ITR_EVAL_STR += f"\t  Recall\t= {rec}\n"
    ITR_EVAL_STR += f"\t  F1 Score\t= {f1s}\n"
    
    print(ITR_EVAL_STR)
    file.write(ITR_EVAL_STR + "\n")
    
    total_f1s += f1s


end = time.process_time()

EXEC_TIME_STR = f"\nEXEC_TIME\t= {end-start}s"
AVG_F1_SCORE_STR = f"AVG_F1_SCORE\t= {total_f1s/current_fold}\n"

print(EXEC_TIME_STR)
print(AVG_F1_SCORE_STR)
file.write(EXEC_TIME_STR + "\n")
file.write(AVG_F1_SCORE_STR)
    
file.close()

 1-FOLD	| Precision	= 0.6428571428571429
	  Recall	= 0.6428571428571429
	  F1 Score	= 0.7077922077922079

 2-FOLD	| Precision	= 0.4230769230769231
	  Recall	= 0.6875
	  F1 Score	= 0.6638655462184873

 3-FOLD	| Precision	= 0.7727272727272727
	  Recall	= 0.5666666666666667
	  F1 Score	= 0.726923076923077

 4-FOLD	| Precision	= 0.7714285714285715
	  Recall	= 0.75
	  F1 Score	= 0.7605633802816902

 5-FOLD	| Precision	= 0.6666666666666666
	  Recall	= 0.8
	  F1 Score	= 0.7452153110047847

 6-FOLD	| Precision	= 0.7575757575757576
	  Recall	= 0.7575757575757576
	  F1 Score	= 0.773524720893142

 7-FOLD	| Precision	= 0.8148148148148148
	  Recall	= 0.6666666666666666
	  F1 Score	= 0.7691056910569105

 8-FOLD	| Precision	= 0.7241379310344828
	  Recall	= 0.7777777777777778
	  F1 Score	= 0.7936046511627908

 9-FOLD	| Precision	= 0.8
	  Recall	= 0.6896551724137931
	  F1 Score	= 0.7908249158249159

10-FOLD	| Precision	= 0.7777777777777778
	  Recall	= 0.8076923076923077
	  F1 Score	= 0.8344286622853508


EXEC_TIME	= 0.09375s
AVG_F1_SCORE	= 0.7565848163443357